.nav {
  height: 40px;
  padding: 10px;
  background: teal;
  color: #0e0d0d;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav ul li a {
  margin: 5px 15px;
}
